#{extends 'main.html' /}
#{set title:'Welcome to Tweeter' /}

#{set 'moreScripts' }
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
#{/set}

<div class="row">
</div>
<div class="row">
	<!-- Create Tweet Form --> 
	<form> 
		Enter your tweet: <input name="tweet" type="text" />
		<button class="btn primary">Tweet</button> 
		<div class="count alert-message info" style="float:right; margin-left:10px; height:13px; width:13px;"></div>
		<div class="msg" style="float:right"></div>
	</form>
</div>
<div class="row">
	<!-- Latest Tweets List -->
	<div class="pagination">
		<ul> 
			<li class="prev"><a href="#">&larr; Previous</a></li>
			<li class="next"><a href="#">Next &rarr;</a></li>
		</ul>
	</div>		
	<table class="zebra-striped">
		<thead>
			<tr>
				<th width="80%">Message</th>
				<th width="20%">Since</th>
			</tr>
		</thead>
		<tbody class="tweets">
	#{list tweets}	
		<tr><td>${_.tweet}</td><td>${_.createDate.since()}</td></tr>
	#{/list}
	#{else}
		<tr><td>No tweet</td><td></td></tr>
	#{/else}
		</tbody>
	</table>
	<div class="pagination">
		<ul> 
			<li class="prev"><a href="#">&larr; Previous</a></li>
			<li class="next"><a href="#">Next &rarr;</a></li>
		</ul>
	</div>

</div>

<!-- JS -->
<script type="text/javascript">
// Capture Form Submit Event
$('form').submit(function() {
	// Define Create Action
	var createAction = #{jsAction @create(':tweet') /}
	
	$('.msg').load(createAction({ tweet: encodeURIComponent($('input:first').val()) }));

	setTimeout(function() {	
		$('.msg').empty();
	}, 3000);
	// Don't let the browser redirect
	return false;
});

$('li.prev > a').click(function() {
	var prevAction = #{jsAction @previousPage() /}
	
	$('.tweets').load(prevAction());

	// Don't let the browser redirect
	return false;
});

$('li.next > a').click(function() {
	var nextAction = #{jsAction @nextPage() /}
	
	// Call Create Action
	$('.tweets').load(nextAction());
	
	// Don't let the browser redirect
	return false;
});

var currentAction = #{jsAction @currentPage() /}
var countAction = #{jsAction @count() /}

setInterval(function() {	
	$('.tweets').load(currentAction());
}, 5000);

setInterval(function() {	
	$('.count').load(countAction());
}, 5000);

</script>
